name: audk
services:
  dev-edk2:
    build:
      context: Dockerfiles/oc-dev-edk2
      tags:
        - "oc-dev-edk2"
  build-package:
    depends_on:
      - dev-edk2
    image: oc-dev-edk2
    environment:
    - ARCHS
    - ARCHS_EXT
    - SELFPKG
    - SELFPKG_DIR
    - TARGETS
    - RTARGETS
    - TOOLCHAINS
    - SKIP_TESTS
    - SKIP_BUILD
    - SKIP_PACKAGE
    volumes:
      - .:/com.docker.devenvironments.code
    working_dir: /com.docker.devenvironments.code
    entrypoint:
      - /bin/bash
      - -c
      - "{ . ~/.edk2_rc.sh && eval \"$(/usr/bin/curl -Lfs https://raw.githubusercontent.com/acidanthera/ocbuild/master/ci-bootstrap.sh)\" && curl -o ./efibuild.sh \"https://raw.githubusercontent.com/acidanthera/ocbuild/build-plain-string-args/efibuild.sh\" && rm -f UDK && ln -s `pwd` UDK && touch UDK.ready && . ./efibuild.sh; } || exit 1"
